*.csv
R/.ipynb_checkpoints
ml2-supervised-learning/w1-linieinyie-modieli-v-zadachakh-rieghriessii/.ipynb_checkpoints
*.txt
*.pyc
test/.ipynb_checkpoints
ml2-supervised-learning/w2-scikit-learn/.ipynb_checkpoints
ml3-NN/.ipynb_checkpoints
ml2-supervised-learning/w3-scikit-learn-2/.ipynb_checkpoints
