[submodule "test/bokeh-blaze-tutorial"]
	path = test/bokeh-blaze-tutorial
	url = https://github.com/ijstokes/bokeh-blaze-tutorial
[submodule "stepic-NN/w2-assignment"]
	path = stepic-NN/w2-assignment
	url = https://github.com/webmalex/stepic_neural_networks_public
